<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 
        <!-- Connection settings -->
        <property name="hibernate.bytecode.use_reflection_optimizer">${hibernate.bytecode.use_reflection_optimizer}</property>
        <property name="hibernate.connection.driver_class">${hibernate.connection.driver_class}</property>
        <property name="hibernate.connection.url">${hibernate.connection.url}</property>
        <property name="hibernate.connection.username">${hibernate.connection.username}</property>
        <property name="hibernate.connection.password">${hibernate.connection.password}</property>
        <property name="hibernate.default_schema">${hibernate.default_schema}</property>
 
        <!-- SQL dialect -->
        <property name="hibernate.dialect">${hibernate.dialect}</property>
 
 		<property name="hibernate.current_session_context_class">${hibernate.current_session_context_class}</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">${hibernate.show_sql}</property>
        
        <!-- Fix Postgres JPA Error (Method org.postgresql.jdbc.PgConnection.createClob() is not yet implemented) -->
 		<property name="spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation">true</property>
 
        <!-- Validate all database on startup -->
 		<property name="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</property>
 		
        <!-- Annotated entity classes -->
        <mapping class="com.searchitemsapp.entities.TbSiaUrl"/>
        <mapping class="com.searchitemsapp.entities.TbSiaCategoriasEmpresa"/>
        <mapping class="com.searchitemsapp.entities.TbSiaEmpresa"/>
        <mapping class="com.searchitemsapp.entities.TbSiaPais"/>
        <mapping class="com.searchitemsapp.entities.TbSiaLogin"/>
        <mapping class="com.searchitemsapp.entities.TbSiaParamsFormLogin"/>
        <mapping class="com.searchitemsapp.entities.TbSiaParamsHeadersLogin"/>
        <mapping class="com.searchitemsapp.entities.TbSiaMarcas"/>
        <mapping class='com.searchitemsapp.entities.TbSiaNomProducto'/>
        <mapping class="com.searchitemsapp.entities.TbSiaSelectoresCss"/>
        
    </session-factory>
</hibernate-configuration>